* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

html {
    border: 10px solid rgb(105, 34, 34);
}

main {
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    width: 50%;
}

header {
    text-align: center;
    padding-top: 10px;
    margin: auto;
    max-width: 960px;
}

h1 {
    text-shadow: 1px 1px 3px olivedrab;
}

h1, h2{
    text-transform: uppercase;
}

header h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    border: 5px solid darkolivegreen;
    background-color: cornflowerblue;
}

nav ul {
    margin: auto;
    width: 50%;
    padding: 10px;
    list-style-type: none;
}

nav li{
    padding: 5px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover{
	text-decoration: underline;
    color: black;
}

footer {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

select, optgroup, option {
    background-color: white;
}