@charset "UTF-8";

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

html {
    border: 10px solid rgb(105, 34, 34);
}

header {
    text-align: center;
    padding-top: 10px;
    margin: auto;
    max-width: 960px;
}

h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 3px olivedrab;
}

header h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    position: relative;
    right: 2%;
    list-style-type: none;
}

nav a:link {
    text-decoration: none;
    color: black;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover{
	text-decoration: underline;
    color: black;
}

section {
    padding-bottom: 10px;
}