@charset "UTF-8";


* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(207, 254, 208);
}

header {
    margin: 1in;
    text-align: center;
    text-size-adjust: 200%;
}

h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 3px olivedrab;
}

header h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

